# Year format conversion learning

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf

from keras.layers import Dense, Bidirectional, LSTM, RepeatVector
from keras.models import Sequential

from utils import CharacterTable, vectorization, train_val_split, model_inference, fitting_visualize

# Parameters for the model and dataset.
training_size = 50000

# Maximum length of Answer
maxlen = 20

## Data Generation

In [ ]:
# Generate the 'month' string to be used
month=['january','february','march','april','may','june','july','august','september','october','november','december']

# A dictionary mapping the corresponding 'month' to a number
month_to_ind=dict((c,i+1) for i,c in enumerate(month))

In [ ]:
# Generate answer data matching the date in character format
# Create a date in three formats
def data_generation(size):
  questions=[]
  answers=[]

  for i in range(size):
    seed = np.random.randint(0,3)
    
    if seed==0:
      q = np.random.choice(month)+' '+str(np.random.randint(1,32))+'th, '+str(np.random.randint(1900,2022))
      a = q.split()[2]+'-'+str(month_to_ind[q.split()[0]])+'-'+q.split()[1][:-3]

    if seed==1:
      q = str(np.random.randint(1900,2022))+' '+np.random.choice(month)+' '+str(np.random.randint(1,32))+'th'
      a = q.split()[0]+'-'+str(month_to_ind[q.split()[1]])+'-'+q.split()[2][:-2]

    if seed==2:
      q = str(np.random.randint(1,32))+'th '+np.random.choice(month)+' '+str(np.random.randint(1900,2022))
      a = q.split()[2]+'-'+str(month_to_ind[q.split()[1]])+'-'+q.split()[0][:-2]
    
    q += ' '*(20-len(q))
    a += ' '*(10-len(a))

    questions.append(q)
    answers.append(a)

  return questions, answers

In [ ]:
questions, answers = data_generation(training_size)

print('Question Samples:\n',questions[:5],'\n')
print('Answer Samples:\n',answers[:5])

Question Samples:
 ['october 19th, 1932  ', 'december 21th, 1915 ', '3th april 2003      ', '11th september 1946 ', '1966 december 4th   ']

Answer Samples:
 ['1932-10-19', '1915-12-21', '2003-4-3  ', '1946-9-11 ', '1966-12-4 ']

## Vectorization

In [ ]:
# The calculated number is 3 or 4 digits, and there are cases where ' ' is included, so the string of ' ' is also considered
chars='0123456789-abcdefghijklmnopqrstuvwxyz, '
ctable=CharacterTable(chars)

In [ ]:
x, y = vectorization(questions, answers, chars, maxlen, 10, ctable)

print("x shape", x.shape)
print("y shape", y.shape)

x shape (50000, 20, 39)
y shape (50000, 10, 39)

In [ ]:
x_train, x_val, y_train, y_val = train_val_split(x,y)

Training Data:
(45000, 20, 39)
(45000, 10, 39)

Validation Data:
(5000, 20, 39)
(5000, 10, 39)

In [ ]:
print('Question:', questions[53],'\n')
print('Question:', answers[53],'\n')

print('Encoded Question:\n\n', x_train[53],'\n')
print('Encoded Answer:\n\n', y_train[53])

Question: 2006 november 7th

Question: 2006-11-7

Encoded Question:

 [[0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

Encoded Answer:

 [[0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

## Modeling

In [ ]:
# Build Bidirectional LSTM Sequence Model
def bd_lstm_model(num_layers):
  model=Sequential()
  model.add(Bidirectional(LSTM(128),input_shape=(maxlen, len(chars))))
  model.add(RepeatVector(10)) # convert because target value has 10 rows
  for _ in range(num_layers):
    model.add(LSTM(128, return_sequences=True))
  model.add(Dense(len(chars),activation='softmax'))

  model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['acc'])

  return model

model=bd_lstm_model(1)

In [ ]:
epochs=5
batch_size=32

fitting_visualize(x_train, y_train, x_val, y_val, model, epochs, batch_size, ctable)

Iteration 1
1407/1407 [==============================] - 43s 8ms/step - loss: 1.4250 - acc: 0.5501 - val_loss: 0.3716 - val_acc: 0.8615
Q may 25th, 1935       T 1935-5-25  x 1955-5-25
Q march 24th, 1910     T 1910-3-24  x 1900-3-24
Q 1915 december 18th   T 1915-12-18 x 1911-12-18
Q 26th january 1943    T 1943-1-26  x 1944-1-26
Q 23th april 1955      T 1955-4-23  v 1955-4-23
Q december 8th, 1909   T 1909-12-8  x 1900-12-8
Q november 17th, 1968  T 1968-11-17 x 1966-11-17
Q july 11th, 1907      T 1907-7-11  x 1917-7-11
Q 2th september 1985   T 1985-9-2   x 1955-9-2
Q 30th june 1990       T 1990-6-30  v 1990-6-30

Iteration 2
1407/1407 [==============================] - 10s 7ms/step - loss: 0.2006 - acc: 0.9183 - val_loss: 0.0837 - val_acc: 0.9660
Q 2014 december 10th   T 2014-12-10 v 2014-12-10
Q 14th february 2006   T 2006-2-14  v 2006-2-14
Q november 7th, 1938   T 1938-11-7  x 1988-11-7
Q 1968 november 30th   T 1968-11-30 x 1988-11-30
Q 1905 september 11th  T 1905-9-11  v 1905-9-11
Q january 7th, 1993    T 1993-1-7   v 1993-1-7
Q september 6th, 2021  T 2021-9-6   x 2011-9-6
Q march 31th, 2012     T 2012-3-31  x 2011-3-31
Q 1976 february 23th   T 1976-2-23  x 1966-2-23
Q september 24th, 2005 T 2005-9-24  v 2005-9-24

Iteration 3
1407/1407 [==============================] - 10s 7ms/step - loss: 0.0401 - acc: 0.9885 - val_loss: 0.0058 - val_acc: 0.9999
Q 1949 july 21th       T 1949-7-21  v 1949-7-21
Q october 31th, 1967   T 1967-10-31 v 1967-10-31
Q august 25th, 2016    T 2016-8-25  v 2016-8-25
Q 4th december 1912    T 1912-12-4  v 1912-12-4
Q 27th may 1912        T 1912-5-27  v 1912-5-27
Q october 9th, 1936    T 1936-10-9  v 1936-10-9
Q 11th january 1980    T 1980-1-11  v 1980-1-11
Q 1949 june 20th       T 1949-6-20  v 1949-6-20
Q 1932 june 24th       T 1932-6-24  v 1932-6-24
Q april 13th, 2008     T 2008-4-13  v 2008-4-13

Iteration 4
1407/1407 [==============================] - 10s 7ms/step - loss: 0.0028 - acc: 1.0000 - val_loss: 0.0013 - val_acc: 1.0000
Q 23th february 1996   T 1996-2-23  v 1996-2-23
Q september 3th, 1941  T 1941-9-3   v 1941-9-3
Q 1919 february 12th   T 1919-2-12  v 1919-2-12
Q 1979 august 27th     T 1979-8-27  v 1979-8-27
Q july 18th, 1966      T 1966-7-18  v 1966-7-18
Q 7th june 1934        T 1934-6-7   v 1934-6-7
Q april 1th, 1942      T 1942-4-1   v 1942-4-1
Q january 17th, 1926   T 1926-1-17  v 1926-1-17
Q 1928 january 8th     T 1928-1-8   v 1928-1-8
Q march 25th, 1992     T 1992-3-25  v 1992-3-25

Iteration 5
1407/1407 [==============================] - 10s 7ms/step - loss: 8.2634e-04 - acc: 1.0000 - val_loss: 5.1715e-04 - val_acc: 1.0000
Q september 10th, 1904 T 1904-9-10  v 1904-9-10
Q 21th august 1991     T 1991-8-21  v 1991-8-21
Q 1929 march 6th       T 1929-3-6   v 1929-3-6
Q april 27th, 1932     T 1932-4-27  v 1932-4-27
Q 1903 april 30th      T 1903-4-30  v 1903-4-30
Q 2020 december 9th    T 2020-12-9  v 2020-12-9
Q january 1th, 1987    T 1987-1-1   v 1987-1-1
Q june 14th, 1984      T 1984-6-14  v 1984-6-14
Q 25th june 1938       T 1938-6-25  v 1938-6-25
Q 30th june 1933       T 1933-6-30  v 1933-6-30

In [ ]:
# Build Basic LSTM Sequence Model
def bd_lstm_model(num_layers):
  model=Sequential()
  model.add(LSTM(128,input_shape=(maxlen, len(chars))))
  model.add(RepeatVector(10)) # convert because target value has 10 rows
  for _ in range(num_layers):
    model.add(LSTM(128, return_sequences=True))
  model.add(Dense(len(chars),activation='softmax'))

  model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['acc'])

  return model

model=bd_lstm_model(1)

In [ ]:
epochs=5
batch_size=32

fitting_visualize(x_train, y_train, x_val, y_val, model, epochs, batch_size, ctable)

Iteration 1
1407/1407 [==============================] - 11s 6ms/step - loss: 1.4633 - acc: 0.5337 - val_loss: 0.4621 - val_acc: 0.8241
Q february 7th, 1952   T 1952-2-7   x 1922-2-5
Q september 4th, 1930  T 1930-9-4   x 1900-9-4
Q 1942 may 15th        T 1942-5-15  x 1955-5-25
Q august 15th, 2000    T 2000-8-15  x 2008-8-18
Q september 6th, 1992  T 1992-9-6   x 1996-9-9
Q 1974 april 29th      T 1974-4-29  x 1944-4-24
Q october 23th, 1944   T 1944-10-23 v 1944-10-23
Q february 26th, 1996  T 1996-2-26  v 1996-2-26
Q 1932 april 26th      T 1932-4-26  x 1922-4-22
Q 7th march 1955       T 1955-3-7   x 1955-5-5

Iteration 2
1407/1407 [==============================] - 7s 5ms/step - loss: 0.2765 - acc: 0.8851 - val_loss: 0.1973 - val_acc: 0.9141
Q 1989 march 3th       T 1989-3-3   v 1989-3-3
Q 1960 december 1th    T 1960-12-1  v 1960-12-1
Q july 1th, 1964       T 1964-7-1   x 1966-7-1
Q january 21th, 1927   T 1927-1-21  x 1927-1-22
Q 1928 may 29th        T 1928-5-29  x 1922-5-29
Q 1987 february 23th   T 1987-2-23  x 1988-2-23
Q december 5th, 1924   T 1924-12-5  x 1922-12-5
Q september 12th, 2013 T 2013-9-12  x 2013-9-11
Q 2012 july 23th       T 2012-7-23  x 2022-7-23
Q 26th february 1986   T 1986-2-26  x 1988-2-26

Iteration 3
1407/1407 [==============================] - 7s 5ms/step - loss: 0.0703 - acc: 0.9745 - val_loss: 0.0160 - val_acc: 0.9984
Q december 11th, 1946  T 1946-12-11 v 1946-12-11
Q 8th july 1979        T 1979-7-8   v 1979-7-8
Q 28th december 2000   T 2000-12-28 v 2000-12-28
Q june 7th, 1945       T 1945-6-7   v 1945-6-7
Q 1964 may 17th        T 1964-5-17  v 1964-5-17
Q 21th september 1990  T 1990-9-21  v 1990-9-21
Q may 15th, 1999       T 1999-5-15  v 1999-5-15
Q 23th november 1997   T 1997-11-23 v 1997-11-23
Q 24th november 1967   T 1967-11-24 v 1967-11-24
Q 24th july 2018       T 2018-7-24  v 2018-7-24

Iteration 4
1407/1407 [==============================] - 7s 5ms/step - loss: 0.0156 - acc: 0.9967 - val_loss: 0.1006 - val_acc: 0.9664
Q january 26th, 1995   T 1995-1-26  v 1995-1-26
Q 14th march 2017      T 2017-3-14  v 2017-3-14
Q 1924 february 29th   T 1924-2-29  v 1924-2-29
Q 1915 december 18th   T 1915-12-18 v 1915-12-18
Q june 16th, 1938      T 1938-6-16  x 1938-6-1
Q february 21th, 1992  T 1992-2-21  v 1992-2-21
Q 3th may 1996         T 1996-5-3   v 1996-5-3
Q 27th april 1983      T 1983-4-27  v 1983-4-27
Q 2th august 2018      T 2018-8-2   v 2018-8-2
Q 1921 september 30th  T 1921-9-30  x 2011-9-30

Iteration 5
1407/1407 [==============================] - 7s 5ms/step - loss: 0.0036 - acc: 0.9994 - val_loss: 8.0006e-04 - val_acc: 1.0000
Q 16th august 1916     T 1916-8-16  v 1916-8-16
Q 1985 june 25th       T 1985-6-25  v 1985-6-25
Q january 4th, 2014    T 2014-1-4   v 2014-1-4
Q 2003 june 2th        T 2003-6-2   v 2003-6-2
Q 14th may 1975        T 1975-5-14  v 1975-5-14
Q 11th october 1965    T 1965-10-11 v 1965-10-11
Q november 12th, 1966  T 1966-11-12 v 1966-11-12
Q 31th december 2004   T 2004-12-31 v 2004-12-31
Q august 29th, 1920    T 1920-8-29  v 1920-8-29
Q february 25th, 1928  T 1928-2-25  v 1928-2-25

In [ ]:
model_inference('april 5th 2012', model, ctable).strip()

'2012-4-5'

In [ ]:
print('Inaccurate Test 1:',model_inference('2013 sepstemer 25th').strip())
print('Inaccurate Test 2:',model_inference('2019 julqy 29th').strip())
print('Inaccurate Test 3:',model_inference('15th octobe, 1944').strip())
print('Inaccurate Test 4:',model_inference('marh, 22th 1903').strip())

Inaccurate Test 1: 2013-9-25
Inaccurate Test 2: 2019-7-29
Inaccurate Test 3: 1944-10-15
Inaccurate Test 4: 1903-3-2